<section class="lg:flex mb-16">
    <div class="lg:w-1/2 lg:pr-10">
        <div class="text-4xl font-semibold text-slate-500 mb-16 flex items-center">
            Escrevendo...
            <div id="type">|</div>
        </div>

        <post-item class="mb-10 lg:mb-20">
            <post-item-header><post-item-dot data-times='3'></post-item-dot></post-item-header>
            <post-item-content>
                <post-item-title>Apps Desktop Com Javascript</post-item-title>
                <post-item-desc>
                    O Javascript é uma linguagem que se desenvolveu e ganhou muita fama nos últimos tempos, principalmente por não ter outra linguagem padrão nos navegadores de internet para desempenhar as mesmas funções. Isso nos trouxe diversas vantagens, especialmente para os desenvolvedores web...
                </post-item-desc>
                <post-item-footer>
                    <div>
                        Javascript, NodeJs, ElectronJs
                    </div>
                    <div><a href="https://andrescript.blogspot.com/2023/02/frameworks-javascript-para-criar-apps.html" class="btn indigo">Ler post</a></div>
                </post-item-footer>
            </post-item-content>
        </post-item>

        <div class="justify-end hidden lg:flex">
            <a href="https://andrescript.blogspot.com/" target="_blank"
                class="btn outline-indigo text-xl animate-bounce">Visite o blog</a>
        </div>
    </div>

    <div class="lg:w-1/2 lg:pl-10">
        <div class="flex justify-end">
            <post-item class="mb-10">
                <post-item-header><post-item-dot data-times='3'></post-item-dot></post-item-header>
                <post-item-content>
                    <post-item-title>Como Aprender a Programar</post-item-title>
                    <post-item-desc>
                        Entrar na carreira da tecnologia, assim como em outras áreas, é uma grande aventura. Se você quer se tornar um programador de sucesso, é bom que aprenda a aprender, desenvolva sua lógica e também a sua criatividade. Não é difícil aprender a...
                    </post-item-desc>
                    <post-item-footer>
                        <div>
                            Programação, Python
                        </div>
                        <div><a href="https://andrescript.blogspot.com/2022/11/como-aprender-programar.html" class="btn indigo">Ler post</a></div>
                    </post-item-footer>
                </post-item-content>
            </post-item>
        </div>

        <post-item class="mb-10">
            <post-item-header><post-item-dot data-times='3'></post-item-dot></post-item-header>
            <post-item-content>
                <post-item-title>O Que é PHP?</post-item-title>
                <post-item-desc>
                    A programação é uma atividade que está em crescente desenvolvimento, tendo diversas tecnologias e linguagens disponíveis para que os programadores possam escolher aquelas que melhor resolvam os seus desafios ou simplesmente aquelas com as quais sentem-se mais confortáveis ou se...
                </post-item-desc>
                <post-item-footer>
                    <div>
                        PHP, Programação
                    </div>
                    <div><a href="https://andrescript.blogspot.com/2022/09/o-que-e-php.html" class="btn indigo">Ler post</a></div>
                </post-item-footer>
            </post-item-content>
        </post-item>
    </div>

<div class="flex justify-end lg:hidden">
    <a href="https://andrescript.blogspot.com/" target="_blank"
        class="btn outline-indigo text-xl animate-bounce">Visite o blog</a>
</div>
</section>

<script inComponent>
    // Icon typing
    setInterval(() => {
        type.classList.toggle('hidden');
    }, 450);

    // Multiply elements
    let times = lunar.all('[data-times]', true);
    times.forEach(el => {
        let m = el.dataset.times;
        for (let i = 1; i < m; i++) {
            let n = el.cloneNode(true);
            el.parentElement.append(n);
        }
    });
</script>