<section class="mb-16">
    <div class="title mb-5">Outros projetos</div>

    <!-- Other projects -->
    <div>
        <!-- Project -->
        <div class="grid lg:grid-cols-2">
            <div class="py-0 px-2 lg:px-0 lg:py-4 pl-2 md:pl-3 lg:pl-4">
                <div class="shadow-lg shadow-indigo-400 p-2 md:p-3 lg:p-4 rounded-t-md lg:rounded-t-0 md:rounded-l-md bg-white/70 h-full grid items-between">
                    <!-- Content -->
                    <div class="mb-3">
                        <div class="text-2xl text-indigo-400 font-bold mb-3">
                            <a href="https://github.com/andresn-su/angular-agenda-escolar">
                                Agenda Escolar
                            </a>
                        </div>
                        <div class="text-slate-500">
                            Um app de agenda escolar, com algumas funcionalidades essenciais e bastante intuitivo :). <br>O app foi pensado de forma a ser uma solução compatível com a realidade de muitas pessoas, a necessidade de organizar-se melhor em relação aos estudos, resolvendo de forma simples esse problema.
                        </div>
                    </div>

                    <!-- Techs and links -->
                    <div class="text-slate-500">
                        <div class="mb-1">Angular, Angular Material, Json-Server, CSS3</div>
                        <div class="flex flex-wrap gap-2">
                            <a href="https://github.com/andresn-su/angular-agenda-escolar">
                                <icon-github data-class="h-5 w-5"></icon-github>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Media -->
            <iframe class="youtube-video" src="https://www.youtube.com/embed/bIEyMUBSm94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>
