<section class="mb-16">
    <div class="text-4xl font-semibold text-slate-500 mb-10">
        Alguns trabalhos
    </div>

    <!-- Works -->
    <div class="grid md:grid-cols-2 gap-10">
        <!-- Work -->
        <div>
            <div class="p-2 md:p-3 lg:p-4 ring-1 ring-indigo-300 shadow-lg shadow-indigo-300
                bg-white/70 rounded-lg border-l-4 border-t-4 hover:md:translate-x-5 transition duration-300">
                <div class="text-xl font-bold text-slate-600 mb-2 flex justify-between">
                    <div>Meu site/portfólio</div>
                    <a href="#!" target="_blank">
                        <i class="bi-box-arrow-right"></i>
                    </a>
                </div>
                <div class="font-medium text-slate-400 mb-2">
                    2022 - Tailwind CSS, Lunar, Laravel, HTML5
                </div>
                <p class="text-slate-500">
                    Este nada mais é do que este site mesmo, utilizando para isso algumas das ferramentas que desenvolvi e a biblioteca Tailwind CSS.
                </p>
            </div>
        </div>

        <!-- Work -->
        <div>
            <div class="p-2 md:p-3 lg:p-4 ring-1 ring-indigo-300 shadow-lg shadow-indigo-300
                bg-white/70 rounded-lg border-l-4 border-t-4 hover:md:translate-x-5 transition duration-300 md:mt-10">
                <div class="text-xl font-bold text-slate-600 mb-2 flex justify-between">
                    <div>MovaTee Treinamentos</div>
                    <a href="https://app.movatee.com/" target="_blank">
                        <i class="bi-box-arrow-right"></i>
                    </a>
                </div>
                <div class="font-medium text-slate-400 mb-2">
                    2022 - Tailwind CSS, Javascript, HTML5, PHP, VueJs
                </div>
                <p class="text-slate-500">Desenvolvimento web fullstack.</p>
            </div>
        </div>

        <!-- Work -->
        <div>
            <div class="p-2 md:p-3 lg:p-4 ring-1 ring-indigo-300 shadow-lg shadow-indigo-300
                bg-white/70 rounded-lg border-l-4 border-t-4 hover:md:translate-x-5 transition duration-300">
                <div class="text-xl font-bold text-slate-600 mb-2 flex justify-between">
                    <div>Cáritas Diocesana de Tianguá</div>
                    <a href="https://caritastiangua.com.br/" target="_blank">
                        <i class="bi-box-arrow-right"></i>
                    </a>
                </div>
                <div class="font-medium text-slate-400 mb-2">2020 - HTML5, CSS3, PHP, WordPress</div>
                <p class="text-slate-500">Desenvolvimento de site institucional simples com blog integrado.</p>
            </div>
        </div>
    </div>
</section>