<section>
    <div class="title mb-8 text-right">
        Alguns projetos
    </div>

    <!-- Projects list -->
    <div class="grid md:grid-cols-3 gap-5 mb-16">
        <!-- Project -->
        <div class="rounded-lg shadow-lg shadow-indigo-300 bg-white/30 grid content-between
            hover:-translate-y-6 transition duration-300">
            <div>
                <div class="p-2 md:p-3 lg:p-4 bg-indigo-400 text-white flex justify-between items-center">
                    <i class="bi-folder"></i>
                    <div class="flex gap-3 items-center">
                        <a href="https://github.com/andrexm/lunar" target="_blank">
                            <i class="bi-github"></i>
                        </a>
                    </div>
                </div>
                <div class="p-2 md:p-3 lg:p-4 text-slate-500 rounded-b-lg">
                    <div class="text-2xl font-bold mb-2">Lunar</div>
                    <p>
                        Lunar é uma biblioteca construída inteiramente com Javascript, que visa trazer soluções eficientes para alguns problemas comuns envolvendo a criação de interfaces dinâmicas e criação de determinados efeitos, que, com Javascript puro, seriam difíceis ou trabalhosos de se criar. Atualmente, o projeto possui uma boa quantidade de recursos, mas ainda há muito a se fazer.
                    </p>
                </div>
            </div>
            <div class="px-2 pb-2 md:px-3 md:pb-3 lg:px-4 pb-4 text-slate-500 rounded-b-lg">
                Javascript, CSS
            </div>
        </div>

        <!-- Project -->
        <div class="rounded-lg shadow-lg shadow-indigo-300 bg-white/30 grid content-between
            hover:-translate-y-6 transition duration-300">
            <div>
                <div class="p-2 md:p-3 lg:p-4 bg-indigo-400 text-white flex justify-between items-center">
                    <i class="bi-folder"></i>
                    <div class="flex gap-3 items-center">
                        <a href="https://github.com/andrexm/singular" target="_blank">
                            <i class="bi-github"></i>
                        </a>
                    </div>
                </div>
                <div class="p-2 md:p-3 lg:p-4 text-slate-500 rounded-b-lg">
                    <div class="text-2xl font-bold mb-2">Singular</div>
                    <p>
                        Esta é uma microframework escrita em PHP, cujo objetivo é ser uma estrutura limpa e suficiente para projetos que não necessitam de tantos recursos, porém contando com recursos úteis e eficientes, o que garante grande performance. Assim, o Singular é ideal para sites e projetos mais simples, que não necessitam de muito, além de incorporar o incrível sistema de templates do Laravel.
                    </p>
                </div>
            </div>
            <div class="px-2 pb-2 md:px-3 md:pb-3 lg:px-4 pb-4 text-slate-500 rounded-b-lg">
                PHP, Blade
            </div>
        </div>

        <!-- Project -->
        <div class="rounded-lg shadow-lg shadow-indigo-300 bg-white/30 grid content-between
            hover:-translate-y-6 transition duration-300">
            <div>
                <div class="p-2 md:p-3 lg:p-4 bg-indigo-400 text-white flex justify-between items-center">
                    <i class="bi-folder"></i>
                    <div class="flex gap-3 items-center">
                        <a href="https://github.com/andrexm/angular-agenda-escolar" target="_blank">
                            <i class="bi-github"></i>
                        </a>
                    </div>
                </div>
                <div class="p-2 md:p-3 lg:p-4 text-slate-500 rounded-b-lg">
                    <div class="text-2xl font-bold mb-2">Agenda Escolar</div>
                    <p>
                        Um app de agenda escolar, com algumas funcionalidades essenciais e bastante intuitivo :). O app foi pensado de forma a ser uma solução compatível com a realidade de muitas pessoas, a necessidade de organizar-se melhor em relação aos estudos, resolvendo de forma simples esse problema.
                    </p>
                </div>
            </div>
            <div class="px-2 pb-2 md:px-3 md:pb-3 lg:px-4 pb-4 text-slate-500 rounded-b-lg">
                Angular, Typescript, Angular Material
            </div>
        </div>
    </div>
</section>